@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --shadow: 0 2px 5px rgba(0,0,0,0.3);
  --white: rgb(255, 255, 255);
  --black: rgb(2, 2, 2);
  --lightblack: rgb(34, 40, 49);
  --blue: rgb(131, 210, 240);
  --lightgrey: rgb(238, 238, 238);
  --purple: rgb(185, 100, 203);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  color: var(--black);
  background-image: url(images/background.jpg);
  background-color: var(--black);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60%;
}

.header {
  background: radial-gradient(circle, var(--blue) 0%, var(--purple) 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  padding: 10px;
}

.store-name {
  padding-top: 7px;
  font-size: 2.5rem;
}

.store-logo {
  width: 60px;
  height: 60px;
}

.nav {
  display: flex;
  font-size: 1.5rem;
  gap: 4rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-left: 30px;
  margin-right: 30px;
  height: fit-content;
}

button {
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  position: relative;
}

button:hover {
  color: var(--blue);
  border-color: var(--blue);
  transition: 0.3s ease;
  bottom: 2px;
}

button:active {
  top: 2px;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: var(--blue);
  background-color: rgba(0,0,0,0.5);
  gap: 30rem;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.homepage h1 {
  padding-top: 2rem;
  font-size: 5rem;
}

.homepage p {
  width: 22rem;
  font-size: 1.5rem;
}

.homepage:hover {
  animation-name: breathe; 
  animation-timing-function: ease-in-out;
}

@keyframes breathe {
  from {background-color: rgba(0,0,0,0.5);}
  to {background-color: rgba(0,0,0,0.0);}
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  font-size: 1.3rem;
  background: radial-gradient(circle, var(--blue) 0%, var(--purple) 60%);
  color: var(--black);
}